global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        user haproxy
        group haproxy
        daemon

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        contimeout 5000
        clitimeout 50000
        srvtimeout 50000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

frontend localnodes
        bind *:80
        mode http
        default_backend nodes

backend nodes
        mode http
        balance roundrobin
        option forwardfor
        {% for host in groups['web'] %}
        server {{ host }} {{ hostvars[host]['ansible_host'] }}:80 check
        {% endfor %}
        
listen stats *:9080
        stats enable
        stats hide-version
        stats realm Haproxy\ Statistics
        stats uri /haproxy